<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />                 
    </startup>
    <appSettings>
        <add key="downloadFolderPath" value="C:\Users\ofric\Downloads\"/>
        <add key="targetFolderPath" value="C:\Users\ofric\Desktop\Music\NewMusic\"/>
        <add key="chromeDriverPath" value="C:\Selenium\"/>
        <add key="logFileName" value="Log.txt"/>
        <add key="waitForConversion" value="30" />
        <add key="waitTillDownloadIsFinished" value="180" />
        <add key="apiBaseUrl" value="http://ws.audioscrobbler.com/2.0/" />
        <add key="apiGetTopTracks" value="?method=artist.gettoptracks&amp;artist=Artist_Name&amp;api_key=API_KEY" />
        <add key="apiAuthorizationKey" value="5cfe225d4173261c71b97704dc74031c" />
    </appSettings>
</configuration>